main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.synth-container {
  background-color: black;
  padding: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
}

.audio-rack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.sub-rack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}
