/* font-family: 'Anton', sans-serif;
font-family: 'Cabin', sans-serif; */
/*
Color Scheme
red: #ff0084
blue: #03e0d1
yellow: #ffbb00 */

body {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.instructions {
  width: 477px;
  text-align: center;
  margin-bottom: 25px;
  color: #979999;
}

h1 {
  font-size: 85px;
  font-family: 'Shrikhand', sans-serif;
  filter: drop-shadow( -3px 3px #ffbb00);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 10px auto 7px auto;
}

h3 {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 5px auto 5px auto;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 30px 0;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-input input {
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  height: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.user-input input:focus {
  border: 2px solid #03e0d1;
}

#birthday {
  width: 150px;
  margin-left: 20px;
}

#name {
  width: 300px;
}

.user-input button {
  border: 2px solid black;
  font-size: 20px;
  font-family: 'Cabin', sans-serif;
  height: 30px;
  background-color: #ffbb00;
  border-radius: 10px;
  text-align: center;
  padding: 10px 0;
  letter-spacing: 2px;
  width: 100%;
}

.user-input button:hover {
  background-color: #03e0d1;
}

.user-input button:active {
  background-color: #ff0084;
}

.synth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  padding: 20px 0;
  width: 900px;
  justify-content: center;
  border-radius: 20px;
}

.oscilloscope-container {
  position: relative;
}

.oscilloscope-overlay {
  font-size: 14px;
  font-family: 'Cabin', sans-serif;
  position: absolute;
  width: 350px;
  height: 150px;
  background-color: none;
}

.vol-bpm {
  padding-top: 20px;
}

.synth-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-knob {
  margin-top: -35px;
}

.control-panel {
  display: flex;
  flex-direction: column;
}

.osc-row {
}

.audio-rack {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px 0;
}

.sub-rack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
}

.rack-element {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.rack-knob {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.wave-selector {
  position: relative;
}

.radio-labels {
  position: absolute;
  transform: rotate(90deg);
  top: 31px;
  right: 110px;
}

.radio-labels li {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  padding: 8px 0;
  transform: rotate(-20deg);
}

.rack-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 150px;
}

.octave-note {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.social-links {
  justify-content: space-around;
  font-size: 24px;
  display: flex;
  margin-bottom: 20px;
  width: 500px;
}

.social-links li:hover {
  color: #03e0d1;
}

.copyright {
  font-size: 16px;
  color: #979999;
}
